@model IEnumerable<Core.ViewModels.EventsViewModel>

@{
    ViewData["Title"] = "Events";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav class="mt-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                <li class="breadcrumb-item active"> Manage Events</li>
            </ol>
        </nav>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">

                    <!-- Start Button -->
                    <div class="col-lg-12 col-sm-12 mb-5">
                        <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#addEvent" style=" float: right; margin-right: 20px;">
                            Add Event
                        </button>
                    </div>
                    <!-- End Button -->

                </div>
            </div><!-- End Left side columns -->
        </div>
    </section>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped custom-table" id="dataTable" style="font-size:smaller">
                    <thead>
                        <tr>
                            <th> S/N</th>
                            <th> Title </th>
                            <th> Event Date </th>
                            <th> Event Location </th>
                            <th> Capacity </th>
                            <th> Summary </th>
                            <th> DateCreated</th>
                            <th> Action</th>
                        </tr>
                    </thead>
                    @if (Model.Count() > 0 && Model != null)
                    {
                        <tbody>
                            @foreach (var events in Model)
                            {
                                <tr>
                                    <td></td>
                                    <td>@events.Title </td>
                                    <td>@events.EventDate.ToString("D") </td>
                                    <td>@events.EventLocation </td>
                                    <td>@events.EventCapacity </td>
                                    <td>@events.Summary.Substring(1,20) </td>
                                    <td>@events.DateCreated.ToString("D")</td>
                                    <td class="text-right">
                                        <div style="display: flex" class="my-2">
                                            <a class="btn btn-outline-primary mx-1" data-toggle="modal" data-target="#edit_event" onclick="eventToBeEdited('@events.Id')">
                                                <i class="bi bi-pencil-square"></i>
                                            </a>
                                            <a class="btn btn-outline-primary mx-1" data-toggle="modal" data-target="#delete_event" onclick="eventToDelete('@events.Id')">
                                                <i class="bi bi-trash"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    }

                </table>
            </div>
        </div>
    </div>
</main><!-- End #main -->
<!-- Add subject modal start -->
<div class="modal fade" id="addEvent" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> <b> Add Event </b> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <label class="col-form-label"> Event Title <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" id="eventTitle" required>
                    </div>

                    <div class="col-sm-12 col-lg-12">
                        <label class="col-form-label"> Event Location <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" id="eventLocation" required>
                    </div>
                     <div class="col-sm-12 col-lg-12">
                        <label class="col-form-label"> Event Capacity <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" id="eventCapacity" required>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <label class="col-form-label"> Event Date <span class="text-danger">*</span></label>
                        <input class="form-control" type="date" id="eventDate" required>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <label class="col-form-label"> Event Summary <span class="text-danger">*</span></label>
                        <textarea rows="4" cols="4" class="form-control" type="text" id="eventSummary" required> </textarea>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-primary" id="submit_btn" onclick="addEvent()">Add Event</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Subject Modal -->
<div class="modal fade" id="edit_event" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> <b> Edit Event </b> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <label class="col-form-label"> Event Title <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" id="edit_eventTitle" required>
                        <input class="form-control" hidden id="eventId">
                    </div>

                    <div class="col-sm-12 col-lg-12">
                        <label class="col-form-label"> Event Location <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" id="edit_eventLocation" required>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <label class="col-form-label"> Event Capacity <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" id="edit_eventCapacity" required>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <label class="col-form-label"> Event Date <span class="text-danger">*</span></label>
                        <input class="form-control" type="text" id="edit_eventDate" required>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <label class="col-form-label"> Event Summary <span class="text-danger">*</span></label>
                        <textarea rows="4" cols="4" class="form-control" type="text" id="edit_eventSummary" required> </textarea>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submit_btn" onclick="SaveEditedEvent()">Edit Department</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->

<div class="modal fade" id="delete_event" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> <b> Delete Event </b> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center">Are you sure you want to delete?</p>
                <div class="modal-btn delete-action">
                    <div class="row m-auto">
                        <input class="form-control" hidden type="text" id="eventId">
                        <div class="col-6">
                            <a class="btn btn-outline-primary rounded-pill p-2 d-block" id="deleteSubject" onclick="DeleteEvent()">Delete</a>
                        </div>
                        <div class="col-6">
                            <a data-bs-dismiss="modal" class="btn btn-outline-primary rounded-pill p-2 d-block">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- /Delete Modal -->