@model Core.ViewModels.EventsViewModel

@{
    ViewData["Title"] = "Events Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item active"> Event Details </li>
            </ol>
        </nav>
    </div>

    <!-- End Page Title -->

   <!-- Event Details-->
     @if(Model != null)
     {
        <div class="container mt-4">
            <div class="row">
                <div class="col-sm-12 col-md-12 mx-auto card shadow p-4">
                    <div class="d-flex align-items-center">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 mb-2 p-3">
                                <div class="" style="font-weight: bold;">
                                    <p class="mb-3"> @Model.Title</p>
                                    <p class="mb-3"> @Model.EventLocation</p>
                                    <p class="mb-3"> @Model.EventCapacity</p>
                                    <p class="mb-3"> @Model.EventDate.ToString("D")</p>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-8 p-3">
                                <div class="card-text">
                                    <p class="mb-3"> @Model.Summary </p>
                                </div>
                                <div class="p-3 justify-content-center">
                                    <button class="btn btn-outline-primary" onclick="GetBookingForm('@Model.Id')"> Book Now </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    
      }

    </main>
<!-- Partial View Modal-->
  <div class="modal fade" id="bookEventModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"> <b> Book Event </b> </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="bookingContent">
                
            </div>
        </div>
    </div>
</div>
    	
